*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Ubuntu';
    background: #e5e5e5;
}

main
{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}


.formulario
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.formulario__label
{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario__grupo-input
{
    position: relative;
}
.formulario__input
{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0px 40px 0px 10px;
    transition: .3 ease all;
    -webkit-transition: .3 ease all;
    -moz-transition: .3 ease all;
    -ms-transition: .3 ease all;
    -o-transition: .3 ease all;
    &:focus
    {
        border: 3px solid #0075ff;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163,163,163,.4);
    }
}
.formulario__input-error
{
    font-size: 12px;
    margin-bottom: 0px;
    display: none; //oculto por defecto para luego activarlo con javaScript
    &-activo
    {
        display: block;
    }
}
.formulario__validacion-estado
{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0; //oculto por defecto, solo se muestra si hay error
}
.formulario__checkbox
{
    margin-right: 10px;
}
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar
{
    grid-column: span 2;
}
.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: none;// oculto por defecto, solo se muestra cuando hay un error
    p{
        margin: 0;
    }
    &-activo
    {
        display: block;
    }
}
.formulario__grupo-btn-enviar
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__btn
{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    -webkit-transition: .1s ease all;
    -moz-transition: .1s ease all;
    -ms-transition: .1s ease all;
    -o-transition: .1s ease all;
    &:hover
    {
        box-shadow: 3px 0px 30px rgba(163,163,163,1);
    }
}
.formulario__mensaje-exito
{
    font-size: 14px;
    color: #119200;
    display: none;// oculto, solo se muestra cuando se envia todo correctamente
    &-activo
    {
        display: block;
    }
}

/* ------------------- Etilos para Validacion --------------------*/
.formulario__grupo
{
    &-correcto .formulario__validacion-estado
    {
        color: #1ed12d;
        opacity: 1;
    }
    &-incorrecto .formulario__label
    {
        color: #bb2929;
    }
    &-incorrecto .formulario__validacion-estado
    {
        color: #bb2929;
        opacity: 1;
    }
    &-incorrecto .formulario__input
    {
        border: 3px solid #bb2929;
    }

}

/*--------------------- media --------------------------------------*/
@media screen and (max-width:800px) 
{
    .formulario
    {
        grid-template-columns: 1fr;
    }  
    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar
    {
        grid-column: span 1;
    }
    .formulario__btn
    {
        width: 100%;
    }  
}